<%- include('../_partials/_header.ejs')%>

<main>
  <% if (errorMessage) { %>
  <div class='user-message'><%= errorMessage %></div>
  <% } %>
  <form class="login-form" action="/newPassword" method="POST">
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
    </div>
    <input type="hidden" name='password' value="<%= password %>">
    <input type="hidden" name='userId' value="<%= userId %>">
    <input type="hidden" name='_csrf' value="<%= csrfToken %>">
    <button class="btn" type="submit">Login</button>
  </form>
  <div class="form-control">  <a href='/reset'>Reset Password</a></div>

</main>

<%- include('../_partials/_footer.ejs')%>