<%- include('../_partials/_header.ejs')%>

<main>
  <% if (products.length > 0) { %>
    <ul>
        <% products.forEach( item => { %>
          <li>
            <p><%= item.productId.title %> (<%= item.productId.quantity %>)</p>
            <form action="/cart-delete-item" method="POST">
              <input type="hidden" value="<%= item.productId._id %>" name="productId">
              <button class="btn" type="submit">DELETE</button>
            </form>
          </li>
        <% }) %>
    </ul>
    <div class="centered">
        <form action="/create-order" method="POST">
          <button class="btn" type="submit">Order Now</button>
        </form>
    </div>
  <% } else { %>
    <h1>No products in cart</h1>
  <%}%>
</main>


<%- include('../_partials/_footer.ejs')%>
