<%- include('../_partials/_header.ejs')%>

<main class="centered">
  <h1><%= product.title %></h1>
  <hr>
  <div class = "image">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
  </div>
  <h2> <%= product.price  %></h2>
  <p> <%= product.description  %></p>
  <% if(isAuthenticated) {%>
    <%- include('../_partials/_addToCart.ejs', {product: product})%>
  <%}%>
</main>


<%- include('../_partials/_footer.ejs')%>